.DS_Store
.vagrant
.vscode
**/*.retry
/secrets/
inventory/**/hosts.bak
inventory/vagrant_ansible_inventory
inventory/**/group_vars/fake_hosts.yml
temp
.idea
.tox
.cache
**/*.bak
*.egg-info
*.pyc
*.pyo
contrib/**/.terraform
contrib/**/.tfstate
contrib/**/terraform.tfstate.d
contrib/**/*.tfstate.backup
contrib/**/*.plan
**/*.sw[pon]
vagrant/
logs
tmp
/config/caddy/.caddy
/data/mysql/**
